.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.banner.success {
    background-color: green;
    color: white;
}

.banner.fail {
    background-color: red;
    color: white;
}
